<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenteiro\BibliotecaNacional\Model\Livros">
        <arguments>
            <argument name="livros" xsi:type="array">
                <item name="livro2" xsi:type="string">O Poder da Gentileza</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenteiro\BibliotecaNacional\Model\LivrosVirtuais" type="Magenteiro\BibliotecaNacional\Model\Livros">
        <arguments>
            <argument name="livros" xsi:type="array">
                <item name="livrovirtual" xsi:type="string">Magenteiro de Sucesso - vol. 1</item>
            </argument>
        </arguments>
    </virtualType>
</config>
