<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenteiro\BibliotecaNacional\Model\Livros">
        <arguments>
            <argument name="livros" xsi:type="array">
                <item name="livro1" xsi:type="string">Filosofia do Sucesso - parte 1</item>
            </argument>
        </arguments>
    </type>
</config>
